.button {
    display: inline-block;
    background-color: #0D09E4; 
    color: #FFF;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;  
    font-size: 20px; 
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    text-decoration:none;

}
.button:hover{
    transform: scale(1.08);
} 